<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308224881811-1f5q0v0eqsisspbn1eahqnt1vl628g1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308224881811-1f5q0v0eqsisspbn1eahqnt1vl628g1f</string>
	<key>API_KEY</key>
	<string>AIzaSyBqcmhjmZ8AjDwaOcMIgjd1qFF89IgrQcU</string>
	<key>GCM_SENDER_ID</key>
	<string>308224881811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhimasprajaya.chatApp</string>
	<key>PROJECT_ID</key>
	<string>dhimas-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dhimas-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308224881811:ios:cf0ef1c232ddf2e8258966</string>
	<key>DATABASE_URL</key>
	<string>https://dhimas-chat-app.firebaseio.com</string>
</dict>
</plist>